.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20vh;
}

img {
	aspect-ratio: 1/1;
	width: 10rem;
}

h1 {
	color: white;
	font-size: 3rem;
}

button {
	color: #d70900;
	width: clamp(141px, 15vw, 300px);
	height: 31px;
	height: clamp(31px, 6vh, 60px);
	font-size: 1.2rem;
	border-radius: 5px;
	border: 1px solid #d70900;
	box-shadow: 0 4px 4px #00000026;
}
